body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
  }
  
  main {
    max-width: 42em;
    margin: 15px auto;
  }
  
  .email {
    font-family: monospace;
  }

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #777;
}